<h2>Hello</h2>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card mb-2" >
        <div class="card-body text-">
            <h3 class="card-title">Create new job</h3>
            <a href="/job/create" class="btn btn-success stretched-link"><i class="fas fa-plus-square    "></i> New job</a>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card mb-2" >
        <div class="card-body">
            <h3 class="card-title">View execution log</h3>
            <a href="/execution" class="btn btn-success stretched-link"><i class="fas fa-scroll    "></i> Logs</a>
        </div>
    </div>
  </div>
</div>