<table class="table">
  <h2>Test</h2>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Scedule</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Code exit</th>
      </tr>
    </thead>
    <tbody>
      {{#data}}
      <tr>
        <th scope="row">{{key}}</th>        
        <td>{{value.cronName}}</td>
        <td>{{value.name}}</td>
        <td>{{value.date}}</td>
        <td>{{value.code}}</td>
      </tr>
      {{/data}}

    </tbody>
  </table>