<div class="container">

  <table class="table table-hover">
  <h2>
    {{#back}}
    <a class="btn " href="/job" role="button"><i class="fas fa-arrow-left"></i></a>     
    {{/back}} 
    Executions
    <a class="btn btn-danger" href="/job" role="button"><i class="fas fa-trash"></i> Wipe log</a> 
  </h2>
    <thead>
      <tr>
        <th scope="col">Scedule</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Code exit</th>
      </tr>
    </thead>
    <tbody>
      {{#data}}
      <tr>   
        <td>{{value.cronName}}</td>
        <td>{{value.name}}</td>
        <td>{{value.date}}</td>
        <td>{{value.code}}</td>
      </tr>
      {{/data}}

    </tbody>
  </table>
</div>  